.hero-cate{
   
    padding: 0 0 50px 0;
    position: relative;

}
.hero-cate .hero-bx{
    margin-top: 30px;
    padding-top:  30px ;
    background: #fff;
    position: relative;

}
.hero-cate .hero-bx .row{
  gap : 10px 0;

}
.hero-cate .hero-bx .box-col{
    
    background: #e1deda;
    height: 266px;
    overflow: hidden;
}
.hero-cate .hero-bx .box-col h3{
    
    font-weight: bold;

}
.hero-cate .hero-bx .box1 span{
    color: #7d82b4;
}
.hero-cate .hero-bx .box2 span{
    color: #866949;
}.hero-cate .hero-bx .box3 span{
    color: #e5b891;
}
.hero-cate .hero-bx .box-col .box-pof{
    padding: 30px 0 0 30px;
    flex: 1;
}
.hero-cate .hero-bx .box-col img{
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của cột */
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease; 
}
.hero-cate .hero-bx .box-col img:hover {
    transform: translateY(-5px); /* Di chuyển hình ảnh lên khi hover */
  }




/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}