.hero {
    height: 100vh; /* Đảm bảo chiều cao của phần nền bằng chiều cao của cửa sổ trình duyệt */
    background-image: url('../../assets/bankner.jpg');
    background-size: cover; /* Hiển thị hình ảnh với kích thước tốt nhất */
    background-position: center; /* Canh chỉnh hình ảnh vào trung tâm */
    background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh nếu có */
    background-attachment: fixed; /* Hiệu ứng Parallax */
}

.hero .hero-banner{
    padding: 250px 0 0 50px;
} 
.hero .hero-banner h1{
    font-weight: 700;
    color: #baa391;
} 
.hero .hero-banner h2{
    font-weight: 700;
    
} 