* {
 margin: 0;
 padding: 0;
}
.sidebar {
    float: left;
    width: 200px;
    padding-right: 17px;
}
.sidebarSection {
    display :block;
    padding-bottom: 35px;
    margin-bottom: 50px;
    border-bottom: solid 1px #ebebeb;
}
.sidebarTitle h5{
    font-size: 18px;
    margin-bottom: 21px;
    font-weight: bold;
}

.sidebarcategories ul {
    padding-left: 0px;
}
.sidebarcategories ul li{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.5;
}
.sidebarcategories ul li:hover{
    opacity: 1;
}
.sidebarcategories ul li span{
    float: inline-end;
}
.navActive{
    opacity: 1 !important;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;   /* Optional: Add some top margin */
  }
  .inputWrapper span {
    color: #1e1e27 !important;
    padding-bottom:5px ;
    font-size: 22px !important;
    font-weight: 500 !important;  /* Optional: Add some top margin */
  }
  
  .sidebarcategoriesColor ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  
  }
  .sidebarcategoriesColor li {
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    margin: 5px; /* Adjust spacing between items */
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height */
    border-radius: 50%; /* Make it a circle */
    background-color: #000; /* Set background color */
    color: #fff; /* Set text color */
    text-align: center;
    line-height: 20px; /* Center text vertically */
  }
    .sidebarcategoriesColor li:nth-child(1) { background-color: white; }
    .sidebarcategoriesColor li:nth-child(2) { background-color: black; }
    .sidebarcategoriesColor li:nth-child(3) { background-color: yellow; }
    .sidebarcategoriesColor li:nth-child(4) { background-color: red; }
    .sidebarcategoriesColor li:nth-child(5) { background-color: blue; }
    .sidebarcategoriesColor li:nth-child(6) { background-color: pink; }
    .sidebarcategoriesColor li:nth-child(7) { background-color: gray; }
    .sidebarcategoriesColor li:nth-child(8) { background-color: orange; }
    .sidebarcategoriesColor li:nth-child(9) { background-color: brown; }

    @media only screen and (max-width: 600px) {
        .mobile{
            display: none;
        }
    }